:root {
  box-sizing: border-box;
  --main-size: 60rem; /* 480px */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana sans-serif;
  font-family: 'MonteCarlo', cursive;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

.main-container {
  /*display: flex;*/
  height: 100vh;
  background-color: #DFE3F6;
  /*position: relative;*/
}
.container {
  margin: 0 auto;
  flex: 0 0 auto;
  /*background-image: url('./bg.jpg');*/
  /*use below bg on menu tab*/
  /*background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('./bg.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;
}
.flex-top-box {
  width: min(max(calc(var(--main-size) / 2), 100%), calc(var(--main-size) * 2));
  min-height: var(--main-size);
  border: 0.0625rem solid black;
  background-color: #D2DAED;
  /*background-color: #EA906C;*/
  display: flex;
  flex-flow: row wrap;
  
}
.flex-box {
  /*min-height: 2.5rem;*/
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
  border: 0.0625rem solid goldenrod;
}
.flex-item {
  flex: 0 0 100%;
  border: 0.0625rem solid goldenrod;
}


.sidebar {
  max-width: 15rem;
  flex: 1 0 10rem;
}
.proj-card {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.proj-card:hover {
  cursor: pointer;
  background-color: #888;
}
.proj-card-select {
  background-color: #999;
}

.list-panel {
  flex: 8 0 21rem;
  padding: 2rem;
}
.card {
  width: 100%;
  /*min-height: 15rem;*/
  padding: 1rem;
  background-color: #eee;
  border-radius: 1rem;
  box-shadow: .25rem .3rem .5rem #888;
  flex: 0 0 100%;
  position: relative;
}
.card:hover {
  /*background-color: #fff;
  background-color: #EEE2DE;*/
  box-shadow: .25rem .3rem 1rem #888;
}
.card .desc, .card .title {
  resize: none;
  background-color: transparent;
  width: 100%;
  min-height: 8rem;
  padding: 0;
  outline: none;
  border: none;
  border-top: .0625rem solid black;
  border-bottom: .125rem solid black;
  overflow-wrap: break-word;
  word-break: break-all;
  /*white-space: break-spaces;*/
}
.card .title {
  border: none;
  /*border-bottom: .125rem solid black;*/
  min-height: .5rem;
  font-size: 2rem;
}
.card button, .add-project, .add-list, .delete-project {
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}
.card button:hover,
.add-project:hover,
.add-list:hover,
.delete-project:hover {
  cursor: pointer;
  color: #7287E9;
}